body{
	margin:0;
   	padding:0;
   	height:100%;
	background-color: #570A57;
	font-family: sans-serif;
	text-align: -webkit-center;
}

.container-p{
overflow: hidden;
width: 100%;
height: 150px;
background-color: #490F59;
border-bottom: 1px solid #A91079;
text-align: center;

}

.boxp{
	background: #610746;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	min-height: auto;
	max-width: 1200px;
	border: 4px dashed #88127e;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.boxs{
	background: #7D1E6A;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
	min-height: auto;
	max-width: calc(1200px/2);
	border: 4px dashed #88127e;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
	margin-top: 50px;
	margin-bottom: 50px;
}

footer{
	position: relative;
    left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #2E0249;
	border-top: 1px solid #A91079;
	height: 150px;
}

.imggif{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	top: 8px;
	left: 7px;

}

.circle-wrapper {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 30s linear infinite;
}

.circle-wrapper:hover .circle {
  animation: spin 10s linear infinite;
}

.success {
  border: 4.5px dashed #88127e;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}

.page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
	font-size: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: whitesmoke;
}
h2{
	color: #88127e;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #88127e;
}
h3{
	color: whitesmoke;
		margin-top: 20px;
	margin-bottom: 10px;
}

h4{
	color: ghostwhite;
	font-weight: 550;
}

button{
        padding: 0.8em 0em;
        width:350px;
        background: #88127e;
        border-radius:15px;
        border:0;
        color:#fff;
        font-size:1.2em;
        font-family: Arial,Helvetica,sans-serif;
        font-weight:bold;
        cursor:pointer;
        margin:1em 2em;
        text-transform:uppercase;
}

.light{
background: -moz-linear-gradient(-45deg,  #88127e 0%, #88127e 40%, #ffffff 50%, #88127e 60%, #88127e 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#88127e), color-stop(40%,#88127e), color-stop(50%,#ffffff), color-stop(60%,#88127e), color-stop(100%,#88127e));
background: -webkit-linear-gradient(-45deg,  #88127e 0%,#88127e 40%,#ffffff 50%,#88127e 60%,#88127e 100%);
background: -o-linear-gradient(-45deg,  #88127e 0%,#88127e 40%,#ffffff 50%,#88127e 60%,#88127e 100%);
background: -ms-linear-gradient(-45deg,  #88127e 0%,#88127e 40%,#ffffff 50%,#88127e 60%,#88127e 100%);
background: linear-gradient(135deg,  #88127e 0%,#88127e 40%,#ffffff 50%,#88127e 60%,#88127e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88127e', endColorstr='#88127e',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
  animation:light 1s;
    -webkit-animation:light 1s;
  
}

@keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}
        
@-webkit-keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}
